h1 {
  font-family: -apple-system, system-ui, BlinkMacSystemFont;
  text-align: left;
  padding: 10px;
  margin: 0px;
  font-size: 60px;
}
body {
  background-color: #f3f3f3;
  margin: 0px;
}
.quote {
  margin: 10px;
  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  outline-color: blue;
}
.box {
  font-size: large;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}
#bar {
  background-color: darkgrey;
}
