h1 {
  font-family: -apple-system, system-ui, BlinkMacSystemFont;
  text-align: left;
  padding: 10px;
  margin: 0px;
  font-size: 60px;
  color: white;
}
h2 {
  font-family: -apple-system, system-ui, BlinkMacSystemFont;
  text-align: left;
  padding: 10px;
  margin: 0px;
  font-size: 40px;
  color: white;
}
body {
  background-color: #18181a;
  margin: 0px;
}
button {
  cursor: pointer;
  font-size: 30px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: white;
  border-radius: 20px;
  padding-bottom: 6px;
  border-color: #46bac0;
  background-color: #46bac0;
  color: #ffffff;
  font-weight: bold;
}
.quote {
  margin: 10px;
  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: white;
}
.box {
  font-size: large;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}
#bar {
  background-color: #46bac0;
}
#bar2 {
  background-color: #e4609b;
}
